version: "4"

services:
  db:
    image: postgres:18
    container_name: postgres
    environment:
      - POSTGRES_DB=test_db
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    ports:
      - "5432:5432"